.fa-star-o:before {
    content: "\f006";
    color: #5f6368;
    font-size: 8rem;
}

.fa-star:before {
    content: "\f005";
    color: #d56e0c;
    font-size: 8rem;
}


#star { 
    display: flex;
}
#star:hover {
    cursor:pointer;
}